## 1. 라이브러리 불러오기

In [1]:
import kss

s = "회사 동료 분들과 다녀왔는데 분위기도 좋고 음식도 맛있었어요 다만, 강남 토끼정이 강남 쉑쉑버거 골목길로 쭉 올라가야 하는데 다들 쉑쉑버거의 유혹에 넘어갈 뻔 했답니다 강남역 맛집 토끼정의 외부 모습."
for sent in kss.split_sentences(s):
    print(sent)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import DataFrame, Series
import re

## 2.  데이터 불러오기

In [3]:

df = pd.read_csv('data/df0716.csv', encoding="UTF8")
# pd.DataFrame(open('data/df0716.csv', 'r', encoding="UTF8"))

df = df.iloc[2040:2540,:] # 일단 df에 500개만 저장
sample = df.iloc[:5,:] # 5개만 저장

df_all = pd.read_csv("data/df0716.csv", encoding="UTF8") # 30000개 짜리는 df_all 에 저장
# 새로운 데이터 만들때 처음 컬럼명 댓글 인덱스- 그대로 !!! 주의

In [4]:
df_all.head()

,추가일시,전체 인덱스,채널명,채널인덱스,댓글구분,댓글내용,좋아요
0,13 11:58:52,1,영국남자,1,0,배우분들 어떤 경로 로 섭외하나요? 진짜 궁금합니다... 그리고 진심으로 이분만큼은...,870
1,13 11:58:52,2,영국남자,2,0,인생 최대의 방송사고 알려줘요,675
2,13 11:58:52,3,영국남자,3,0,조쉬와올리가 한국을 넘나 사랑하는것을 알지만 그래도 가끔 한국이나 한국사람들에게 실...,1600
3,13 11:58:52,4,영국남자,4,0,조쉬와 올리가 가장 탐나는 한국이름은?,461
4,13 11:58:53,5,영국남자,5,0,How do you get to interview all these famous p...,433

In [5]:
df_loc = df_all.loc[:,"댓글내용"] # 댓글내용만 가져오기
pd.DataFrame(df_loc)

                                                    댓글내용
0      배우분들 어떤 경로 로 섭외하나요? 진짜 궁금합니다... 그리고 진심으로 이분만큼은...
1                                       인생 최대의 방송사고 알려줘요
2      조쉬와올리가 한국을 넘나 사랑하는것을 알지만 그래도 가끔 한국이나 한국사람들에게 실...
3                                  조쉬와 올리가 가장 탐나는 한국이름은?
4      How do you get to interview all these famous p...
...                                                  ...
31153  1. 작은누나 소개팅썰. \n술 드셨는지, 드셨다면 안취하셨는지, 잘되어가고있는지,...
31154  미르님 진짜 사나이에 꽂아줬더니 힘들다고 바로 빠져오고 그자리에 뒷차로 들어간 박형...
31155                           Q&A 안하면 안돼요? 별로 궁금한거 없는데
31156  효선언니... 남편있으신데 와이프자리 남으니 제가 와이프해도 될까오...? 효진언니...
31157           1.소개팅날 만취여부 2.소개팅날 가방진품? 3.소개팅날 무사히 집귀가?

[31158 rows x 1 columns]

## 3. 새로운 csv 파일 만들기

In [6]:
import openpyxl
import re

In [7]:
wb = openpyxl.Workbook()

In [8]:
sheet = wb.active

In [9]:
sheet.append(['댓글인덱스','추가일시',"전체인덱스",'채널명','채널인덱스',"댓글내용",'좋아요'])
# 8개의 열 column

### kss로 분리 + 숫자로도 분리

In [10]:
num = 0 # 댓글인덱스: 고유번호 == num

df_length = len(df_all) # df의크기를 df_length에 저장

for i in range (0,df_length):
    date = df_all.iloc[i,0]  # 추가일시
    ch_name = df_all.iloc[i,2] # 채널명
    ch_index = df_all.iloc[i,3] # 채널인덱스
    like = df_all.iloc[i,6] # 좋아요

    for sent in kss.split_sentences(df_loc.iloc[i]):
        # df_loc.iloc[i] => i가 댓글구분
        sent2 = re.split("[0-9]+\.|[0-9]+\)|Q[0-9]+",sent) # 정규 표현식
        
        for s in sent2:
            if (s==""):
                continue
            num+=1
            sheet.append([num,date,i, ch_name,ch_index, s, like]) 
        # 원래의 column 유지

In [11]:
wb.save("0716complete_v5.xlsx")

In [12]:
df_all.shape

(31158, 7)

In [13]:
df_length

31158